.Button {
    color: var(--btn-text-color);

    &:hover {
        opacity: 0.7;
        fill-opacity: 0.7;
        stroke-opacity: 0.7;
    }

    .btnContainer {
        display: flex;
        align-items: center;

        .loader {
            margin-right: 4px;
            animation: spin 1s linear infinite
        }
    }
}

.Button.disabled {
    opacity: 0.3;
}

.Button.loading {
    opacity: 0.7;
}

.clear {
    padding: 0;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}

.clear.loading {
    cursor: default;
}

.auth {
    padding: 0.6rem 1.2rem;
    border: none;
    background-color: var(--primary-color); // например, #4f46e5
    color: white;
    font-size: 1rem;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    display: inline-block;
    opacity: 1 !important; // гарантируем, что кнопка всегда видна
    visibility: visible !important;
}

.logout {
    padding: 0;
    border: 1px solid #0000001e;
    border-radius: 6px;
    background: #ffffff04;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.green {
    padding: 0;
    border: none;
    background: var(--header-btn-bg-color);
    outline: none;
}

.outline {
    border: 1px solid var(--main-color);
    color: var(--main-color);
    background: none;
}

.background {
    background: var(--bg-color);
    color: var(--main-color);
    border: none;
}

.background_inverted {
    background: var(--inverted-bg-color);
    color: var(--main-color);
    border: none;
}

.split_button_main {
    background: #4d4d4d;
    color: var(--btn-text-color);
    border: 1px solid #000;
    border-radius: 3px;
}

.split_button_item {
    background: #4d4d4d;
    color: var(--btn-text-color);
    border-radius: 3px;
    border: none;
}

.size_m {
    font: var(--font-m);
}

.size_l {
    font: var(--font-l);
}

.size_xl {
    font: var(--font-xl);
}

// Адаптивность
@media (max-width: 768px) {

    .auth {
        padding: 0.5rem 1rem;
        font-size: 0.9rem;
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
