.idea
Source/ToDo.Application/bin
Source/ToDo.Application/obj
Source/ToDo.DAL/bin
Source/ToDo.DAL/obj
Source/ToDo.DAL.ClickHouse.Logs/bin
Source/ToDo.DAL.ClickHouse.Logs/obj
Source/ToDo.Domain/bin
Source/ToDo.Domain/obj
Source/ToDo.Tests/bin
Source/ToDo.Tests/obj
Source/ToDo.WebApi/bin
Source/ToDo.WebApi/obj