.Sidebar {
    width: var(--sidebar-width);
    color: var(--text-color);
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1rem;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;

    .sidebar__item {
        margin-bottom: 0.25rem;
        display: block;
        padding: 0.5rem 0.5rem;
        border-radius: 8px;
        color: var(--text-color);
        text-decoration: none;
        transition: all 0.2s ease;
    }
}

// Адаптивность
@media (max-width: 768px) {
    .sidebar {
        display: none;
    }
}
