.LoginForm {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.authInputWrapper {
    display: flex;
    width: 100%;
    margin-top: 10px;
}

.placeholder {
    min-width: 150px;
    padding-top: 2px;
}

.input {
    width: 100%;
}

.loginBtn {
    margin-top: 15px;
    margin-left: auto;
    border-radius: 12px;
    border-color: transparent;
    background: var(--inverted-bg-color);
}
