@import "reset";
@import "variables/global";

body {
    font: var(--font-m);
    color: var(--text-color);
}

.app {
    font: var(--font-m);
    background: var(--bg-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.app__container {
    display: flex;
    min-height: calc(100vh - var(--header-height));
}
