* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    font-size: 30px;
}

/* Сброс стилей списка */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
