.Header {
    width: 100%;
    height: var(--header-height);
    background: var(--header-bg-color);
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .auth__btn {
        margin-right: 1.2rem;
    }
}
