.Header {
    width: 100%;
    height: var(--header-height);
    background: var(--header-bg-color);
    display: flex;
    align-items: center;
    border-bottom: #757575 1px solid;

    .header__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1200px;
        margin: 0 auto;
    }
}
