.UserListItem {
    .card {
        border: 1px solid var(--accent-color);
    }

    .infoWrapper {
        display: flex;
        align-items: center;

        .infoTitle {
            margin-right: 5px;
        }
    }
}
